<sw-page>
  <template #content>
    <div v-if="isLoading">
      <sw-loader size="50px">
      </sw-loader>
    </div>
    <div v-else>

      <sw-data-grid
              :dataSource="regions"
              :columns="columns"
              :showSelection="false"
              :showActions="false">
      </sw-data-grid>

      <div class="nexus-status-wrapper">

        <div v-if="regions.length > 0" class="success-nexus-alert">
          Nexus is connected
        </div>

        <div v-else class="danger-nexus-alert">
          No nexus connected
        </div>

        <p v-if="regions.length === 0" class="nexus-instruction">
          Connect a nexus using TaxJar
          <a href="https://app.taxjar.com/dashboard" target="_blank" rel="noopener noreferrer">
            dashboard
          </a>
        </p>
      </div>
    </div>
  </template>
</sw-page>
