.sw-settings-tax-detail__tax-rule-grid {
    width: 100%;
}

.sw-settings-tax-detail__tax-rule-grid .sw-entity-single-select {
    width: 100%;
}

.sw-settings-tax-detail__tax-rule-grid .sw-select__selection {
    padding-right: 40px;
}
