.sw-select .sw-select__selection-indicators{width: fit-content;}
.sw-select.has--focus .sw-select__select-indicator-clear, .sw-select:hover .sw-select__select-indicator-clear{
    margin-left: 8px;
}
