<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_text_filter %}
    <div class="sw-existence-filter">
        <sw-base-filter
            :title="filter.label"
            :show-reset-button="!!value"
            :active="active"
            @filter-reset="resetFilter"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_text_filter_content %}
                <sw-text-field
                    :placeholder="filter.placeholder"
                    :value="value"
                    @update:value="changeValue"
                />
            {% endblock %}
        </sw-base-filter>
    </div>
{% endblock %}
